{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" style="padding-left: 2rem; padding-right: 2rem;">
  <h1 class="mt-4 mb-3"></h1>
  <div class="row  ">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
      
      <div class="card text-white mb-4">
        <div class="card-header  pt-1 pb-1">{{ product.category }}</div>

        <div class="card-body pt-2 pb-2">
          <h5 class="card-title">{{ product.name }}</h5>
        </div>

        <img src="{{ url_for('static', filename = 'product_pics/' + product.picture) }}" class="card-img-top" alt="Product Image">
          

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Taste Score: {{ product.score_taste }}%</li>
          <li class="list-group-item">Health Score: {{ product.score_health }}%</li>
          <li class="list-group-item">Description: {{ product.description }}
          <li class="list-group-item">Available at {{ product.store }}</li>
          <li class="list-group-item">Price: {{ product.price }}</li>
          <li class="list-group-item">Created on {{ product.date_created.strftime('%Y-%m-%d') }}</li>
          <li class="list-group-item">Added by {{ product.created_by.username }}
            <img class="rounded-circle article-img" style="width: 24px;" src="{{ url_for('static', filename='profile_pics/' + product.created_by.image_file) }}">
          </li>
        </ul>

        <div class="card-footer">
          <small class="text-muted">Updated {{ time_ago(product.date_modified) }}</small>
        </div>
        {% if product.created_by == current_user %}
        <div class='buttons_upd_del'>  
          <ul class="list-group list-group-flush">
            <a class="btn btn-secondary mt-1" href="{{ url_for('update_product', product_id=product.id) }}" class="card-link">Update</a>
            <button type="button" class="btn btn-danger mt-1 mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </ul>
        </div>   
        {% endif %}
        <a href="{{ url_for('home') }}" class="btn btn-dark">Go back to homepage</a>

  </div>

    </div>   
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure that you want to delete product named: <b>{{ product.name }}</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}